---
import Layout from "@layouts/Layout.astro";
import Breadcrumb from "@components/Breadcrumb.astro";
import ca from "./_translations.ca.json";
import Icon from "@components/Icon.astro";
import HeaderSection from "@components/HeaderSection.astro";
import CopyToClipboard from "@components/CopyToClipboard.tsx";
const { browserTitle, title, email, warning, contact, social } = ca;
---

<Layout title={browserTitle}>
  <HeaderSection title={title} />
  <section class="container mx-auto px-4 py-4 md:p-4">
    <Breadcrumb />
  </section>
  <section id="contact" class="container mx-auto flex-grow px-4 py-4">
    <div class="m-auto flex flex-col gap-4 lg:px-0">
      <h4 class="text-lg lg:text-xl">
        {email.title}
      </h4>
      <div>
        {
          email.list.map(([type, message]) => {
            if (type === "bold") return <strong>{message}</strong>;
            if (type === "email")
              return (
                <div class="flex flex-row items-center gap-2">
                  <a
                    href={`mailto:${message}`}
                    class="text-blue-500 hover:text-blue-600"
                  >
                    {message}
                  </a>
                  <CopyToClipboard text={message} client:load />
                </div>
              );
            if (type === "tel")
              return (
                <div class="flex flex-row items-center gap-2">
                  <a
                    href={`tel:${message}`}
                    class="text-blue-500 hover:text-blue-600"
                  >
                    {message}
                  </a>
                  <CopyToClipboard text={message} client:load />
                </div>
              );
            if (type === "br") return <br />;
            return message;
          })
        }
      </div>
      <span class="italic text-red-600">{warning}</span>
      <hr />
      <div class="lg:flex lg:gap-8">
        <div>
          <h5 class="font-semibold lg:text-lg">
            {contact.location.title}
          </h5>
          <div class="">
            <p>{contact.location.street}</p>
            <p>{contact.location.cp} {contact.location.city}</p>
            <p>{contact.location.province}</p>
            <p>{contact.location.country}</p>
          </div>
        </div>
        <div>
          <h5 class="font-semibold lg:text-lg">
            {contact.schedule.title}
          </h5>
          <div>
            <p>{contact.schedule.workdays}</p>
            <br />
            <p>{contact.schedule.other}</p>
          </div>
        </div>
        <div>
          <h5 class="font-semibold lg:text-lg">
            {contact.phone.title}
          </h5>
          <div>
            <p>{contact.phone.number}</p>
          </div>
        </div>
      </div>
      <hr />
      <div class="flex flex-col gap-4">
        <p class="inline-flex gap-2">
          <Icon icon="instagram" />

          <a
            href={social.instagram.url}
            class="text-blue-500 hover:underline"
            target="_blank"
          >
            {social.instagram.user}
          </a>
        </p>
      </div>
    </div>
  </section>
</Layout>
