---
import HeaderSection from "@components/HeaderSection.astro";
import Layout from "@layouts/Layout.astro";
import ca from "./_translations.ca.json";
import Breadcrumb from "@/components/Breadcrumb.astro";
const content = ca;
---

<Layout title={content.title}>
  <HeaderSection title={content.title} />
  <section class="container mx-auto px-4 py-4">
    <Breadcrumb />
    <br />
    <blockquote class="italic leading-8">{content.quote}</blockquote>
    <br />
    <p class="leading-8">{content.paragraphs[0]}</p>
    <br />
    <p class="leading-8">{content.paragraphs[1]}</p>
    <br />
    <p class="leading-8">{content.paragraphs[2]}</p>
    <br />
    <p class="leading-8">{content.paragraphs[3]}</p>
    <ol class="list-inside list-decimal leading-8">
      <li>{content.ol[0]}</li>
      <li>{content.ol[1]}</li>
    </ol>
    <p class="leading-8">{content.paragraphs2[0]}</p>
  </section>
</Layout>
