---
import HeaderSection from "@components/HeaderSection.astro";
import Layout from "@layouts/Layout.astro";
import content from "./_text.json";
import Breadcrumb from "@/components/Breadcrumb.astro";
---

<Layout title={content.title}>
  <HeaderSection title={content.title} />
  <section class="container mx-auto px-4 py-4">
    <Breadcrumb />
  </section>
  <section class="container mx-auto flex-grow px-4 py-4">
    <p>{content.paragraphs[0]}</p>
    <br />
    <p>{content.paragraphs[1]}</p>
    <br />
    <p>{content.paragraphs[2]}</p>
    <br />
    <h2 class="mb-4 text-lg font-bold">{content["benefits-title"]}</h2>
    <ul class="list-disc pl-5">
      {content.benefits.map((benefit) => <li>{benefit}</li>)}
    </ul>
  </section>
</Layout>
