---
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import type { ArticleStoryblok } from 'component-types-sb';
const blok = Astro.props.blok as ArticleStoryblok;
---
<article class="py-8 bg-gray-200 px-4 lg:px-0">
    {blok.items?.map((_blok) => <StoryblokComponent blok={_blok} />)}
</article>