---

import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import type { CardListStoryblok } from "component-types-sb";

const blok = Astro.props.blok as CardListStoryblok;
---
<ul class="flex  justify-center xxl:justify-between gap-16 flex-wrap list-none">
    {blok.items?.map(itemBlok => <StoryblokComponent blok={itemBlok}) />)}
    </ul>