---
import { storyblokEditable } from '@storyblok/astro'
import DropdownComponent from '../components/Dropdown.astro'
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import type { DropdownOptionStoryblok } from 'component-types-sb';

const { blok } = Astro.props
---

<article {...storyblokEditable(blok)}>
    <DropdownComponent title={blok.title} subtitle={blok.subtitle}>
       {blok.options.map((_blok: DropdownOptionStoryblok) =>  <StoryblokComponent blok={_blok} />)}
    </DropdownComponent>
</article>