---
import { storyblokEditable } from '@storyblok/astro'
import DropdownOptionComponent from '@components/DropdownOption.astro'

const { blok } = Astro.props
---

<article {...storyblokEditable(blok)}>
    <DropdownOptionComponent text={blok.text} link={blok.link.url} />
</article>