---
import Header from "@components/Header.astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import type { HeaderStoryblok } from "component-types-sb";

const blok = Astro.props.blok as HeaderStoryblok;
---

<Header imageAlt={blok.image?.alt}>
  {blok.navigation?.map((_blok) => <StoryblokComponent blok={_blok} />)}
</Header>
