---
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import type { SectionStoryblok } from "component-types-sb";
const blok = Astro.props.blok as SectionStoryblok;

---
<section class="container mx-auto">
    {blok.options?.map(_blok => <StoryblokComponent blok={_blok} />)}
</section>

<style>

    ul {
        list-style: none;
    }
</style>
