---
import Layout from "@layouts/Layout.astro";
import HeaderSection from "@components/HeaderSection.astro";
import Breadcrumb from "@components/Breadcrumb.astro";
import ca from "./_translations.ca.json";
const { title, paragraph } = ca;
---

<Layout title={title}>
  <HeaderSection title={title} />
  <section class="container mx-auto p-4">
    <Breadcrumb />
  </section>
  <section class="container mx-auto flex-grow p-4">
    <p>{paragraph}</p>
  </section>
</Layout>
