---
import Layout from "../layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import Card from "@components/Card.astro";
import Gallery from "@components/Gallery.astro";
const urls = [
  "/serveis/atencio-farmaceutica",
  "/serveis/spd",
  "/serveis/encarrecs-online",
];
const translations = {
  title: "Farmàcia del Doctor Xavier Figueras, a Terrassa (Barcelona)",
  main: "Farmàcia Figueras",
  servicesTitle: "Els nostres serveis",
  services: [
    {
      title: "Atenció farmacèutica",
      body: "Amb l'Atenció Farmacèutica es realitza el seguiment farmacològic del pacient per prevenir una mala utilització dels medicaments.",
    },
    {
      title: "SPD",
      body: "Amb el Sistema Personalitzat de Dosificació preparem i adeqüem la seva medicació en un Blíster. ",
    },
    {
      title: "ENCÀRRECS ON-LINE",
      body: "Busques alguna cosa o no vols fer cues? Omplint aquest senzill formulari podrás demanar tot allò que necessitis i recollir-ho i pagar-ho a la farmàcia.",
    },
  ],
};
---

<Layout title={translations.title}>
  <main>
    <Hero />
    <article class="bg-gray-200 px-4 py-8 lg:px-0">
      <section class="container mx-auto">
        <ul class="xxl:justify-between flex flex-wrap justify-center gap-16">
          {
            translations.services.map((service, index) => (
              <Card
                title={service.title}
                body={service.body}
                href={urls[index] ?? ""}
              >
                <img
                  src={`services/services-${index}.png`}
                  alt={service.title}
                  loading="lazy"
                  class="h-20 w-20 object-cover"
                />
              </Card>
            ))
          }
        </ul>
      </section>
    </article>
    <article class="bg-white px-4 py-8 lg:px-0">
      <section class="container mx-auto">
        <Gallery />
      </section>
    </article>
  </main>
</Layout>
