---
import Layout from "@layouts/Layout.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import HeaderSection from "@components/HeaderSection.astro";

const translations = {
  title: "Encàrrecs Online",
  description:
    "¿Busques alguna cosa o no vols fer cues? Escriu-nos un correu electrònic o missatge de WhatsApp amb tot allò que necessitis, recull-ho i paga-ho a la farmàcia",
  conditions: {
    title: "A tenir en compte:",
    conditions: [
      "Serveis subjecte únicament a aquells medicaments sense prescripció mèdica.",
      "En cas d'efectuar una consulta relacionada amb un medicament subjecte a aprescripció mèdica que derivi en encàrrec, haurà de presentar-se la recepta en el moment de recollir el medicament",
      "En el missatge indica'ns la quantitat i model/marca dels productes desitjats",
      "Quan la teva comanda estigui llesta rebràs un avís pel canal que ens has contactat",
      "Si ets algú amb problemes de mobilitat, fes-nos-ho saber i t'ho portarem directament al teu domicili sense cap cost.",
    ],
  },
  name: "Nom del sol·licitant:",
  namePlaceholder: "Joan / Maria",
  subject: "Assumpte:",
  subjectPlaceholder: "Encàrrec Online",
  phone: "Telèfon de contacte:",
  phonePlaceholder: "+34 666 555 444",
  body: "Missatge:",
  bodyPlaceholder: "Escrigui el que necessiti...",
  sendEmail: "Enviar per Email",
  sendWhatsApp: "Enviar per WhatsApp",
};
---

<Layout title="Encàrrecs Online">
  <HeaderSection title="Encàrrecs Online" />
  <section class="container mx-auto px-4 py-4">
    <Breadcrumb />
  </section>

  <div class="container mx-auto p-4">
    <h1 class="mb-4 text-2xl font-bold">{translations.title}</h1>
    <p>{translations.description}</p>
    <br />
    <h2 class="mb-4 text-xl font-bold">{translations.conditions.title}</h2>
    <ul class="list-disc pl-5">
      {
        translations.conditions.conditions.map((condition) => (
          <li>{condition}</li>
        ))
      }
    </ul>
    <br />
    <h3 class="mb-4 text-lg font-bold">Contacte</h3>
    <div class="mb-4">
      <label for="subject" class="mb-2 block">{translations.subject}</label>
      <input
        type="text"
        id="subject"
        class="w-full rounded border p-2"
        placeholder={translations.subjectPlaceholder}
      />
    </div>
    <div class="max-w-lg">
      <div class="mb-4">
        <label for="name" class="mb-2 block">{translations.name}</label>
        <input
          type="text"
          id="name"
          class="w-full rounded border p-2"
          placeholder={translations.namePlaceholder}
        />
      </div>

      <div class="mb-4">
        <label for="phone" class="mb-2 block">{translations.phone}</label>
        <input
          type="text"
          id="phone"
          class="w-full rounded border p-2"
          placeholder={translations.phonePlaceholder}
        />
      </div>

      <div class="mb-4">
        <label for="body" class="mb-2 block">{translations.body}</label>
        <textarea
          id="body"
          class="w-full rounded border p-2"
          rows="4"
          placeholder={translations.bodyPlaceholder}></textarea>
      </div>

      <div class="flex gap-4">
        <a
          href="mailto:your@email.com"
          id="send-email"
          aria-label="Enviar per Email"
          class="inline-block rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-600"
        >
          {translations.sendEmail}
        </a>
        <a
          href="https://wa.me/34XXXXXXXXX"
          id="send-whatsapp"
          aria-label="Enviar per WhatsApp"
          target="_blank"
          class="w-auto"
        >
          <img src="/images/whatsapp-small.png" alt="WhatsApp" class="h-10" />
        </a>
      </div>
    </div>
  </div>

  <script>
    const whatsappNumber = "34618262493";
    const email = "comandes@farmaciafigueras.com";
    // Wait for the DOM to be fully loaded
    document.addEventListener("DOMContentLoaded", () => {
      // Get references to elements
      const sendEmailEl = document.getElementById(
        "send-email",
      ) as HTMLAnchorElement;
      const sendWhatsAppEl = document.getElementById(
        "send-whatsapp",
      ) as HTMLAnchorElement;
      const nameEl = document.getElementById("name") as HTMLInputElement;
      const subjectEl = document.getElementById("subject") as HTMLInputElement;
      const phoneEl = document.getElementById("phone") as HTMLInputElement;
      const bodyEl = document.getElementById("body") as HTMLTextAreaElement;

      function updateLinks() {
        // Update email link
        const emailBody = `Nom: ${nameEl.value}\nTelèfon: ${phoneEl.value}\n\n${bodyEl.value}`;
        sendEmailEl.href = `mailto:${email}?subject=${encodeURIComponent(subjectEl.value)}&body=${encodeURIComponent(emailBody)}`;

        // Update WhatsApp link
        const whatsappText = `*Encàrrec Online*\nNom: ${nameEl.value}\nAssumpte: ${subjectEl.value}\nTelèfon: ${phoneEl.value}\n\nSol·licita: ${bodyEl.value}`;
        sendWhatsAppEl.href = `https://wa.me/${whatsappNumber}?text=${encodeURIComponent(whatsappText)}`;
      }

      // Add input event listeners to all fields
      [nameEl, subjectEl, phoneEl, bodyEl].forEach((el) => {
        el.addEventListener("input", updateLinks);
      });

      // Initialize the links
      updateLinks();
    });
  </script>
</Layout>
