---
import Base from "@/layouts/Base.astro";
import Page from "@/storyblok/Page.astro";
import useContent from "@/application/useContent";

const content = await useContent(Astro, "static/pages/home");
---

<Base title="Home">
  <Page blok={content} />
</Base>

<script>
  document.addEventListener("storyblok-live-preview-updated", () => {
    // Here is the callback we could run code every time the body is updated via live preview
    console.log("Live preview: body updated");
    // Example regenerated all your css
  });
</script>
