---
import Layout from "@layouts/Layout.astro";
import Breadcrumb from "@components/Breadcrumb.astro";
import HeaderSection from "@components/HeaderSection.astro";
import PdfPreview from "@components/PdfPreview.astro";
const translations = {
  title: "Farmàcies de guàrdia a Terrassa",
  options: [
    {
      description:
        "SERVEI D'URGÈNCIA DIÜRN de 09:00 del matí a 22:00 del vespre",
      href: "/guardies/2025-02-diurn.pdf",
    },
    {
      description:
        "SERVEI D'URGÈNCIA NOCTURN de 22:00 fins les 09:00 de l'endemà",
      href: "/guardies/2025-02-nocturn.pdf",
    },
  ],
};
---

<Layout title={translations.title}>
  <HeaderSection title={translations.title} />
  <section class="container mx-auto p-4">
    <Breadcrumb />
  </section>
  <section
    class="container mx-auto flex w-full flex-col flex-wrap items-center justify-center gap-4 px-4 pb-8 lg:h-[50rem] lg:flex-row lg:gap-8 lg:px-0"
  >
    <div class="h-96 w-full lg:h-full lg:w-1/3">
      <PdfPreview
        href={translations.options[0].href}
        description={translations.options[0].description}
      />
    </div>
    <div class="h-96 w-full lg:h-full lg:w-1/3">
      <PdfPreview
        href={translations.options[1].href}
        description={translations.options[1].description}
      />
    </div>
  </section>
</Layout>
