---
import { type Item, createBreadcrumb } from "@domain/breadcrumb.domain";
const { pathname } = Astro.url;
const list: Item[] = createBreadcrumb(pathname);
const activeId = pathname.split("/")[pathname.split("/").length - 1];
---

<ol>
  {
    list.map((item, index) => (
      <>
        <a href={item.link} class={activeId !== item.id ? "text-blue-500" : ""}>
          {item.text}
        </a>
        {!!list[index + 1] && <span>{">"}</span>}
      </>
    ))
  }
</ol>
