---
import { HamburgerMenuIcon, Cross1Icon } from "@radix-ui/react-icons";
---

<input
  type="checkbox"
  class="peer/burger absolute right-4 top-4 mt-0 h-14 w-14 cursor-pointer opacity-0 lg:hidden"
  id="burger"
/>
<label
  for="burger"
  class="cursor-pointer space-y-2 rounded-md bg-white p-3 shadow-lg peer-checked/burger:hidden lg:hidden"
>
  <HamburgerMenuIcon width={32} height={32} />
</label>
<label
  for="burger"
  class="hidden cursor-pointer space-y-2 rounded-md bg-white p-3 shadow-lg peer-checked/burger:block lg:hidden"
>
  <Cross1Icon width={32} height={32} />
</label>
