---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card group list-none">
  <div
    class="flex flex-col items-center gap-8 group-hover:opacity-78 ease-in-out"
  >
    <a href={href}>
      <h3 class="uppercase font-bold hover:text-blue-500 ease-in-out">
        {title}
      </h3>
    </a>
    <slot />
    <p class="text-gray-500 max-w-96">
      {body}
    </p>
  </div>
</li>
<style></style>
