---
const { title, subtitle } = Astro.props;
import clsx from "clsx";
---

<nav class="group relative flex cursor-pointer flex-col">
  <div class="flex items-center gap-2 lg:flex-col lg:gap-0">
    <a
      class="font-semibold text-white group-hover:text-blue-400 lg:text-gray-500 lg:group-hover:text-blue-600"
      href="#">{title}</a
    >
    <span
      class="text-sm text-gray-200 group-hover:text-blue-400 lg:text-gray-800 lg:group-hover:text-blue-500"
      >{subtitle}</span
    >
  </div>

  <ul
    class={clsx(
      "hidden overflow-hidden",
      "list-large-screens",
      "group-hover:block",
      "ease-in duration-300",
      "shadow-xl",
      "rounded-sm",
      "block lg:absolute",
      "top-full w-56 bg-inherit lg:bg-white",
    )}
  >
    <slot />
  </ul>
</nav>
<style></style>
