---
const translations = {
    titles: ["Els nostre serveis", "Horari", "E-MAIL", "On som"],
    services: [
        "Elaboració d’SPD",
        "Control de paràmetres",
        "Fórmules Magistrals",
        "Dermocosmètica",
        "Atenció farmacèutica",
        "Nutrició i salut",
        "Pediatria",
    ],
    schedule: "Matins de 9:00 a 13:30 tardes de 16:30 a 20:00.",
    scheduleWeekend: "Dissabtes de 9:00 a 13:30.",
    contact: {
        name: "Nom",
        email: "E-mail",
        message: "Missatge",
        send: "Enviar",
    }
}
const locationSrc = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d448.07935333755387!2d2.0035449083108086!3d41.560003709034234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2767bc2656073789!2sFarm%C3%A0cia+Xavier+Figueras!5e0!3m2!1sca!2ses!4v1507477997628";
---
<footer class="bg-black py-8 px-4 lg:px-0">
    <div class="container mx-auto flex justify-between flex-col lg:flex-row gap-20">
        <div>
            <p class="section-title">{translations.titles[0]}</p>
            <ul class="pl-8">
                {translations.services.map(service => <li class="text-gray-400 text-sm">{service}</li>)}
            </ul>
        </div>
        <div>
            <p class="section-title">{translations.titles[1]}</p>
            <ul class="flex gap-8 flex-col text-sm">
                <li class="text-gray-400">{translations.schedule}</li>
                <li class="text-gray-400">{translations.scheduleWeekend}</li>
            </ul>
        </div>
        <div class="hidden">
            <p class="section-title">{translations.titles[2]}</p>
            <form class="flex flex-col gap-4">
                <input type="text" class="border border-gray-200 bg-transparent p-1 rounded-md" placeholder={translations.contact.name}/>
                <input type="email" class="border border-gray-200 bg-transparent p-1 rounded-md" placeholder={translations.contact.email}/>
                <textarea rows={12} class="border border-gray-200 bg-transparent p-1 rounded-md" placeholder={translations.contact.email}/>
                <button class="bg-white p-2 rounded-md">{translations.contact.send}</button>
            </form>
        </div>
        <div>
            <p class="section-title">{translations.titles[3]}</p>
            <ul class="flex gap-8 flex-col text-sm">
                <iframe 
                    src={locationSrc} 
                    width="300" 
                    loading="lazy"
                    height="300"
                />
            </ul>
        </div>

    </div>
</footer>

<style>
.section-title {
    @apply text-white font-semibold mb-2 uppercase;
}
</style>