---
---
<ul class="flex gap-4">
    <li><img loading="lazy" src="/content/content-0.jpeg" class="w-40" alt="dues mans subjectant un blister" /></li>
    <li><img loading="lazy" src="/content/content-1.jpeg" class="w-40" alt="pot de vidre amb productes oferts dins d'una farmàcia"/></li>
    <li><img loading="lazy" src="/content/content-2.jpeg" class="w-40" alt="un arbre en un bosc"/></li>
</ul>