---
const { image = "/images/logo.png", imageAlt } = Astro.props;
---

<header class="container mx-auto bg-white px-4 md:px-0">
  <nav class="flex flex-row items-center justify-between py-2">
    <a href="/"><img src={image} alt={imageAlt} /></a>
    <slot />
  </nav>
</header>
