---
export type Props = {
    title: string;
};
const { title } = Astro.props;
---

<section class="bg-blue-500 w-full">
    <div class="container mx-auto">
        <h2 class="text-2xl lg:text-3xl text-white text-center py-4 lg:py-8">
            {title}
        </h2>
    </div>
</section>
