---
interface Props {
  title: string;
  description: string;
  href: string;
}
const { title, description, href } = Astro.props;
---

<a
  href={href}
  class="w-full rounded-lg bg-blue-500 p-4 text-white shadow-lg transition hover:bg-blue-600 md:w-1/3"
>
  <h5 class="font-semibold">{title}</h5>
  <p>{description}</p>
</a>
