---
interface Props {
  href: string;
  description: string;
}

const { href, description }: Props = Astro.props;
const pdfUrl = href + "#view=FitH";
---

<object data={pdfUrl} type="application/pdf" width="100%" height="100%">
  <p>{description}<a href={href}></a></p>
</object>
