---
const { name, description, alt = "", title, index } = Astro.props;
const url = "/members/team/team-" + index + ".png";
---

<div
  data-type="staff-card"
  class="flex w-56 flex-col items-center gap-4 text-gray-700"
>
  <img src={url} alt={alt} loading="lazy" />
  <div class="flex flex-col items-center">
    <p>{name}</p>
    <small>{description}</small>
  </div>
  <hr class="mx-0 w-full" />
  <p>{title}</p>
</div>
