---
import Layout from "@layouts/Layout.astro";
import Breadcrumb from "@components/Breadcrumb.astro";
import StaffCard from "@components/StaffCard.astro";
import ca from "./_translations.ca.json";
import HeaderSection from "@components/HeaderSection.astro";
const { origins, staff, title } = ca;
---

<Layout title={title}>
  <HeaderSection title={origins.title} />
  <section class="container mx-auto p-4">
    <Breadcrumb />
  </section>
  <section
    class="container mx-auto flex flex-col flex-wrap gap-4 px-4 py-8 lg:flex-row lg:gap-0 lg:px-0"
  >
    <div class="w-full flex-1 lg:w-auto lg:p-12">
      <img
        src="/members/mobile/members.webp"
        srcset="/members/mobile/members.webp 1024w,
                /members/members.webp 1920w"
        alt={origins.alt}
        loading="lazy"
        class="mx-auto w-full rounded-lg lg:w-fit"
      />
    </div>
    <div class="flex flex-1 flex-col gap-4 lg:gap-8">
      <h3 class="text-center text-xl lg:text-2xl">{origins.pre}</h3>
      <h4 class="w-full text-center text-xl lg:text-2xl">
        {origins.paragraphs[0].title}
      </h4>
      <p class="text-lg text-gray-500 lg:text-xl">
        {origins.paragraphs[0].list[0]}
      </p>
      <br />
      <p class="text-lg text-gray-500 lg:text-xl">
        {origins.paragraphs[0].list[1]}
      </p>
    </div>
  </section>
  <section class="container mx-auto">
    <hr />
  </section>
  <section class="container mx-auto flex flex-col gap-4 px-4 py-8 lg:px-0">
    <h4 class="text-center text-lg lg:text-xl">
      {staff.title}
    </h4>
    <div
      data-type="staff-wrapper"
      class="flex flex-wrap items-center justify-center gap-4 lg:items-start lg:justify-between"
    >
      {
        staff.cards.map((element, i) => (
          <StaffCard
            index={i}
            name={element.fullName}
            description={element.description}
            title={element.role}
          />
        ))
      }
    </div>
  </section>
</Layout>
