---
import "@fontsource/open-sans";
interface Props {
  title: string;
}

const { title } = Astro.props;
const canonical = import.meta.env.DEV
  ? "https://localhost:4321"
  : "https://farmacia-figueras.vercel.app";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Farmàcia Xavier Figueras Remolat, ubicada a Terrassa al carrer Pi i Maragall 18. Una farmàcia de proximitat. La nostra finalitat és donar servei i consell sanitari als nostres clients."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={canonical} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-9QESVC86F6"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-9QESVC86F6");
    </script>
  </head>
  <body class="flex min-h-screen flex-col">
    <slot />
  </body>
</html>

<style is:global>
  :root {
  }
  html {
    font-family: "Open Sans", system-ui, sans-serif;
    font-size: 16px;
  }
</style>
