---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Base from "./Base.astro";
import Burger from "@components/Burger.astro";
import Dropdown from "@components/Dropdown.astro";
import DropdownOption from "@/components/DropdownOption.astro";
import clsx from "clsx";
import ca from "@layouts/_translations.ca.json";
import { photos } from "@application/media";

interface Props {
  title: string;
}

const { title } = Astro.props;

const { logoAlt, dropdown } = ca;
---

<Base title={title}>
  <Header image={photos.logo} imageAlt={logoAlt}>
    <Burger />
    <div
      class={clsx(
        "py-4 z-10 shadow-xl px-4 hidden w-screen absolute left-0 top-20 flex-col",
        "lg:py-0 lg:shadow-none lg:px-0 lg:w-auto lg:bg-inherit lg:relative lg:flex  lg:flex-row lg:top-0",
        "peer-checked/burger:flex gap-4 lg:gap-8 bg-black",
      )}
    >
      {
        Object.entries(dropdown).map(([key, { title, subtitle, options }]) => (
          <Dropdown title={title} subtitle={subtitle}>
            {Object.entries(options).map(([_, { text, link }]) => (
              <DropdownOption text={text} link={link} />
            ))}
          </Dropdown>
        ))
      }
    </div>
  </Header>
  <slot />
  <Footer />
</Base>
