---
import Layout from "@layouts/Layout.astro";
import Breadcrumb from "@components/Breadcrumb.astro";
import NavCard from "@components/NavCard.astro";
import HeaderSection from "@components/HeaderSection.astro";

interface Props {
  title: string;
  subtitle: string;
  items: Array<{ title: string; description: string; href: string }>;
}

const { title, subtitle, items } = Astro.props;
---

<Layout title={title}>
  <HeaderSection title={title} />
  <section class="container mx-auto px-4 py-4">
    <Breadcrumb />
  </section>

  <section class="container mx-auto flex grow flex-col gap-4 px-4 py-4 lg:px-0">
    <h4 class="text-center text-lg lg:text-xl">{subtitle}</h4>
    <div class="flex flex-wrap justify-center gap-4">
      {
        items.map((item) => (
          <NavCard
            title={item.title}
            description={item.description}
            href={item.href}
          />
        ))
      }
    </div>
  </section>
</Layout>
